body {
}

header {
display: flex;
position: relative;
height: 4rem;
border-bottom: 1.5px solid black;
z-index: 2;
}

header .container{
display: flex;
justify-content: space-between;
}

.logo img {
height: 2rem;
margin-left: 1.5rem;
margin-top: 1rem;
}

nav {
display: flex;
justify-content: flex-end;
text-align: center;
}

ul {
display: flex;
align-self: flex-end;
}

li {
margin: 2rem;
overflow: hidden;
text-align: center;
}

header li {
justify-content: flex-end;
}

.dasmoto {
background-image: url(./images/index.jpeg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

h1 {
font-family: 'Bungee', cursive;
font-size: 5rem;
font-weight: bold;
text-align: center;
color: #c0c0c0
}

.images {
display: flex;
padding-left: 3rem;
}

.images img {
margin-left: 2rem;
}

p {
margin: 1rem;
margin-right: 7rem;
color: #1BF7F3;
font-size: 1.5rem;
font-weight: bold;
font-family: 'Cookie', cursive;
background-color: black;
text-align: center;
width: 70%;
}

h2{
padding-left: 3rem;
font-family: 'Unlock', cursive;
font-size: 3rem;
font-weight: bold;
color: hsl(170, 89%, 54%);
}

h3 {
padding-left: 3rem;
font-family: 'Kumar One Outline', cursive;
margin-right: 3rem;
color: #0646C7;
font-size: 1.2rem;
font-weight: bold;
}

span{
color: #90F71B;
}

.art p{
margin-right: 3.5rem;
}
